<a href="https://colab.research.google.com/github/mellisa05/BSIS-2-DV-LAB1-MELLISA-FRIAL-/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Create a simple time series dataset

In [5]:
date_rng = pd.date_range(start='2022-01-01',end='2022-01-10',freq='D')

In [7]:
time_series_data = pd.Series(range(1,11),index = date_rng)

In [8]:
print("Temporal Order.")

Temporal Order.

In [9]:
print(time_series_data)

2022-01-01     1
2022-01-02     2
2022-01-03     3
2022-01-04     4
2022-01-05     5
2022-01-06     6
2022-01-07     7
2022-01-08     8
2022-01-09     9
2022-01-10    10
Freq: D, dtype: int64